@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

main{
    display: flexbox;
    justify-content: center;
}


nav {
    height: 76px;
    width: 100%;
    position: fixed;
    background-color: white;

    align-items: center;
    display: flex;
    justify-content: space-between;

}

html {
    font-size: 12px;
    font-family: "Raleway";
    color: white;
}

nav a,
nav ul a {
    text-decoration: none;
    color: #333;
    padding: 30px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    list-style: none;
}

.logo {
    font-size: 2rem;
    color: #333;
}

.logo:hover {
    color: #666;
}

nav ul li a:hover {
    color: #337ab7;
}


.wordPress{
    background-image: url("../img/bild.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;


    display: flex;
    justify-content: center;

    align-items: center;
}



div h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

div p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

div section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 10px;

}

div section a {
    width: 200px;
    height: 54px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

div section a:nth-of-type(1) {
    background-color: brown;

}

div section a:nth-of-type(2) {
    border: 1px solid #FFFFFF;

}

div section a:nth-of-type(1):hover {
    background-color: orange;
}

div section a:nth-of-type(2):hover {
    background-color: white;
    color: #333;
}

.mac,
.mac2 {
    display: flex;
    color: black;
    align-items: center;
    

}

.mac2 {
    flex-direction: row-reverse;
    background-color: #DDDDDD;
}

.mac2 section {
    padding: 40px;
}

.mac img,
.mac2 img {
    width: 60%;
    height: 60%;
    
}

.mac section h2,
.mac2 section h2 {
    font-size: 30px;
    margin-bottom: -40px;

}

.mac section p,
.mac2 section p {
    font-size: 15px;
    margin-bottom: 70px;
    width: 360px;
    height: 311px;
    display: flex;
    align-items: center;
    line-height: 25px;

    color: gray;
}

.mac section button,
.mac2 section button {
    width: 200px;
    height: 54px;
    color: white;
    text-decoration: none;
    background-color: brown;
    margin-top: -100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mac section{
    margin-left: 10%;
}

.mac2 section{
    margin-right: 10%;
}

.para{
    background-image: url("../img/section.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.para div h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

.para div p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.para div section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 10px;

}

.para div section a {
    width: 200px;
    height: 54px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para div section a:nth-of-type(1) {
    background-color: brown;

}

.para div section a:hover {
    background-color: orange;
}

.limi{
    color: black;
    margin-top: 120px;
    


}

.limi h3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 3rem;

}

.limi p{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 1.4rem;
    
}

.limi a{
    width: 200px;
    height: 54px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;

}

.limi article{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.limi img{
    margin: auto;
    display: block;


}


.late{
    margin-top: -2px;
    background-color: black;
    padding-top: 100px;
    display: block;
    


}

.late h3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 3rem;

}

.late p{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.late img{
    width: 385.5px;
    height: 268.88px;
    margin-bottom: 40px;
    display: inline;


}

.cosi{
    background-image: url("../img/section\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cosi div h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

.cosi div p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.cosi div section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.cosi h3{
    display: flex;
    justify-content: center;
    

}

.cli{
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 50px;
}

.cli h1{
    display: flex;
    justify-content: center;
    color: black;
    margin: 50px;
    font-size: 3rem;
}


.cli article{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.liki{
    width: 100%;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    
}

.liki h1{
    color: #333;
    margin-right: 100px;
}

.liki a {
    width: 200px;
    height: 54px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

footer{
    color: #FFFFFF;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 50px;
    width:100%;
    height: 183px;
;}







